<div class="row">
    <div class="contenedortituloyboton">
        <div class="titulo">
            <h2>Educación</h2>
        </div>
        <div class="boton">
            <button type="button" class="btn btn-danger"><img src="../../../assets/SimboloBorrar.png" alt="" class="simbolo" id="eliminar"></button>

            <button type="button" class="btn btn-success"><img src="../../../assets/SimboloEditar.png" alt="" class="simbolo" id="editar"></button>
        </div>
    </div>
    
    <h2></h2>


    <div *ngFor="let item of educacion" class="row">   
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-2 contenedorimagen">
            <img src="{{item.imagenEducacion}}" class="imagen">                 
        </div>

        <div class="col-lg-10">
            <ul>
                <li>
                    <h3>{{item.tituloObtenidoEducacion}}</h3> - <h5>{{item.tiempoDemandadoEducacion}}</h5>
                </li>
                <p>{{item.descripcionEducacion}}</p>
            </ul>
        </div>
               
    </div>

</div>    

