<div class="container">
    <form class="was-validated" [formGroup]="nuevoFormularioProyec" (ngSubmit)="envioDeFormularioProyec(nuevoFormularioProyec.value)">
        <br>
        <h1>Ingrese los datos requeridos del nuevo proyecto</h1>
        <br>
        <div class="input-group">
            <span class="input-group-text">Nombre del proyecto</span>
            <input type="text" class="form-control" placeholder="Ingrese el nombre del NUEVO proyecto" formControlName="nombreDelProyecto" required>
        </div>
        <br>
        <div class="input-group">
            <span class="input-group-text">Imagen del proyecto</span>
            <input type="text" class="form-control" placeholder="Ingrese la dirección de la imagen" formControlName="imagenProyecto" required>          
        </div>
        <br>
        <div class="input-group">
            <span class="input-group-text">Descripción del proyecto</span>
            <input type="text" class="form-control" placeholder="Ingrese una descripción que haga referencia al proyecto" formControlName="descripcionProyecto" required>          
        </div>
        <br>
        <div class="d-grid">
            <button type="submit" class="btn btn-primary btn-block">Presione este Botón para guardar los datos del NUEVO proyecto</button>
        </div>
        <br>
        <div class="d-grid">
            <button type="button" class="btn btn-secondary btn-block" (click)="funcionVolverHome()">VOLVER. Presione este Botón para cancelar el envío o volver a la página principal</button>
        </div>
      </form>
</div>

