<div class="row">
    <h2>Experiencia Laboral</h2>
    <div class="col-lg-11">
        <ul>
            <li>
                <h3>Trabajo 1</h3> - <h5>(años)</h5>
            </li>
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Eius eos, possimus ab omnis ea praesentium officiis, ut, odit animi consequuntur sed reiciendis! Recusandae voluptatum obcaecati doloremque culpa, voluptatibus et accusamus?</p>
        </ul>
        <ul>
            <li>
                <h3>Trabajo 2</h3> - <h5>(años)</h5>
            </li>
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Eius eos, possimus ab omnis ea praesentium officiis, ut, odit animi consequuntur sed reiciendis! Recusandae voluptatum obcaecati doloremque culpa, voluptatibus et accusamus?</p>
        </ul>
        <ul>
            <li>
                <h3>Trabajo 3</h3> - <h5>(años)</h5>
            </li>
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Eius eos, possimus ab omnis ea praesentium officiis, ut, odit animi consequuntur sed reiciendis! Recusandae voluptatum obcaecati doloremque culpa, voluptatibus et accusamus?</p>
        </ul>
    </div>
</div>
