<div class="row">
    <div class="contenedortituloyboton">
        <div class="titulo">
            <h2>Experiencia Laboral</h2>
        </div>
        <div class="boton">
            <button type="button" class="btn btn-danger"><img src="../../../assets/SimboloBorrar.png" alt="" class="simbolo" id="eliminar"></button>

            <button type="button" class="btn btn-success"><img src="../../../assets/SimboloEditar.png" alt="" class="simbolo" id="editar"></button>
        </div>
    </div>
    <h2></h2>
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-2 contenedorimagen">
        <img src="../../../assets/bbva.jpg" class="imagen">
    </div>
    <div class="col-lg-10">
        <ul>
            <li>
                <h3>Trabajo 1</h3> - <h5>(años)</h5>
            </li>
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Eius eos, possimus ab omnis ea praesentium officiis, ut, odit animi consequuntur sed reiciendis! Recusandae voluptatum obcaecati doloremque culpa, voluptatibus et accusamus?</p>
        </ul>
    </div>

    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-2 contenedorimagen">
        <img src="../../../assets/expresoSantaRosa.png" class="imagen">
    </div>
    <div class="col-lg-10">
        <ul>
            <li>
                <h3>Trabajo 2</h3> - <h5>(años)</h5>
            </li>
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Eius eos, possimus ab omnis ea praesentium officiis, ut, odit animi consequuntur sed reiciendis! Recusandae voluptatum obcaecati doloremque culpa, voluptatibus et accusamus?</p>
        </ul>
    </div>

    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-2 contenedorimagen">
        <img src="../../../assets/galicia.png" class="imagen">
    </div>
    <div class="col-lg-10">
        <ul>
            <li>
                <h3>Trabajo 3</h3> - <h5>(años)</h5>
            </li>
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Eius eos, possimus ab omnis ea praesentium officiis, ut, odit animi consequuntur sed reiciendis! Recusandae voluptatum obcaecati doloremque culpa, voluptatibus et accusamus?</p>
        </ul>
    </div>
</div>
