<div class="row">
    <div class="contenedorlogoyredes">
        <div class="muestralogoargprog">
            <img src="{{headerfooter.imagenHeaderFooter}}" class="img-fluid" id="logo"><!--La imagen es responsive con ing-fluid-->
            <p>{{headerfooter.nombreHeaderFooter}}</p>
        </div>
        <div class="accesosaredes">
            <div class="btn-group">
                <div *ngFor="let item of redes">
                    <!--Con el atributo target="_blank" logramos que el link se abra en una NUEVA pestaña-->
                    <a href="{{item.linkRed}}" target="_blank"><img src="{{item.imagenRed}}" id="facebook" title="acceso directo a mi página de {{item.nombreRed}}"></a>                    
                </div>
            
            <button type="button" class="btn btn-primary" title="Presione este botón para editar las redes" (click)="funcionRedes()">Redes</button>
            
            <button type="button" class="btn btn-success" title="Presione este botón para inhabilitarse" (click)="funcionLogin()">Exit</button>
            </div>
        </div>        
    </div>
    <div class="divoculto">h</div>
</div>

<div class="contenedorbanner">
    <app-banner class="imagen"></app-banner>
</div>


<!--
    <a href="https://www.facebook.com/juancarlos.aiudi" target="_blank"><img src="../../../assets/Facebook.jpg" id="facebook" title="acceso directo a mi página de Facebook"></a>
                    <a href="https://www.instagram.com/juancarlosaiudi" target="_blank"><img src="../../../assets/Instagram-logo.jpg" id="instagram" title="acceso directo a mi página de Instagram"></a>
                    <a href="https://twitter.com/juancarlosaiudi" target="_blank"><img src="../../../assets/Twitter.jpg" id="twitter" title="acceso directo a mi página de Twitter"></a>
-->    
