<div class="container">
    <form class="was-validated" [formGroup]="editarFormularioEdu" (ngSubmit)="envioDeFormularioEdu(editarFormularioEdu.value)">
        <br>
        <h1>Modifique los datos de la educación</h1>
        <br>
        <div class="input-group">
            <span class="input-group-text">Titulo obtenido</span>
            <input type="text" class="form-control" placeholder="Ingrese el tìtulo que ha logrado" formControlName="tituloObtenidoEducacion" required>
        </div>
        <br>
        <div class="input-group">
            <span class="input-group-text">Tiempo demandado</span>
            <input type="text" class="form-control" placeholder="Ingrese el tiempo transcurrido desde el inicio al fin" formControlName="tiempoDemandadoEducacion" required>          
        </div>
        <br>
        <div class="input-group">
            <span class="input-group-text">Imagen</span>
            <input type="text" class="form-control" placeholder="Ingrese la dirección de la imagen" formControlName="imagenEducacion" required>          
        </div>
        <br>
        <div class="input-group">
            <span class="input-group-text">Descripción</span>
            <input type="text" class="form-control" placeholder="Ingrese una descripción" formControlName="descripcionEducacion" required>          
        </div>
        <br>
        <div class="d-grid">
            <button type="submit" class="btn btn-primary btn-block">Presione este Botón para guardar los datos de la educación</button>
        </div>
        <br>
        <div class="d-grid">
            <button type="button" class="btn btn-secondary btn-block" (click)="funcionVolverHome()">VOLVER. Presione este Botón para cancelar el envío o volver a la página principal</button>
        </div>
        <br>
        <div class="d-grid">
            <button type="button" class="btn btn-success btn-block" (click)="funcionNuevaEducacion()">Presione este Botón para AGREGAR una nueva educación</button>
        </div>
        <br>
        <div class="d-grid">
            <button type="button" class="btn btn-danger btn-block" (click)="funcionEliminar()">Presione este Botón para ELIMINAR la educación</button>
        </div>
      </form>
</div>
