body{
  background: url(../../../assets/background_Login.jpg);
  background-size: cover;
  background-position: center;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  background: url(../../../assets/background_Login.jpg);
  background-size: cover;
  background-attachment: fixed;
}
* {
  box-sizing: border-box;
}
.contenedor{
  width: 100%;
  padding: 15px;
}
.formulario{
  background: #fff;
  margin-top: 150px;
  padding: 3px;
}
h1{
  margin-top: 20px;
  text-align: center;
  color: #1a2537;
  font-size: 40px;
}
input[type="text"],
input[type="password"]{
  font-size: 20px;
  width: 82%;
  padding: 10px;
  border: none;
}
.input-contenedor{
  margin-bottom: 15px;
  border: 1px solid #aaa;
}
.icon{
  min-width: 50px;
  text-align: center;
  color: #999;
}

.iconeye{
  min-width: 50px;
  margin-top: 17px;
  margin-left: 7px;
  color: #999;
}

.button{
  border: none;
  width: 100%;
  color: white;
  font-size: 20px;
  background:  #1a2537;
  padding: 15px 20px;
  border-radius: 5px;
  cursor: pointer;
}
.button:hover{
  background: cadetblue;
}
p{
  text-align: center;
}
.link{
  text-decoration: none;
  color: #1a2537;
  font-weight: 600;
}
.link:hover{
  color: cadetblue;
}

.eye{
  position: absolute;
}

@media(min-width:768px)
{
  .formulario{
      margin: auto;      
      width: 500px;
      margin-top: 150px;
      border-radius: 2%;
  }  
}

@media(max-width:500px){
  .formulario{
    margin: auto;      
    width: auto;
    margin-top: 150px;
    border-radius: 2%;
  } 
  .iconeye{
    min-width: 50px;
    margin-top: 17px;
    margin-left: 7px;
    /*margin-left: -7px;*/
    color: #999;
  }
  input[type="text"],
  input[type="password"]{
    font-size: 15px;
    width: 75%;
    padding: 10px;
    border: none;
  }
}

@media(max-width:300px){
  .formulario{
    margin: auto;      
    width: auto;
    margin-top: 150px;
    border-radius: 2%;
  } 
  .iconeye{
    min-width: 50px;
    margin-top: 17px;
    margin-left: 7px;
    /*margin-left: -7px;*/
    color: #999;
  }
  input[type="text"],
  input[type="password"]{
    font-size: 15px;
    width: 65%;
    padding: 10px;
    border: none;
}
}









/*
img{
  border: 1px solid rgb(207, 195, 195);
}

::placeholder { color: rgb(206, 190, 190); }

body {
    margin: 0;
    padding: 0;
    background: url(../../../assets/background_Login.jpg) no-repeat center top;
    background-size: cover;
    font-family: sans-serif;
    height: 100vh;
  }
  
  .login-box {
    width: 320px;
    height: 400px;
    background: rgb(126, 91, 207);
    color: #fff;
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
    box-sizing: border-box;
    padding: 70px 30px;
    border-radius: 10%;
  }
  
  .login-box .avatar {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    position: absolute;
    top: -40px;
    left: calc(50% - 40px);
  }
  
  .login-box h1 {
    margin: 0;
    padding: 0 0 20px;
    text-align: center;
    font-size: 22px;
  }
  
  .login-box label {
    margin: 0;
    padding: 0;
    font-weight: bold;
    display: block;
  }
  
  .login-box input {
    width: 100%;
    margin-bottom: 20px;
  }
  
  .login-box input[type="text"], .login-box input[type="password"] {
    border: none;
    border-bottom: 1px solid #fff;
    background: transparent;
    outline: none;
    height: 40px;
    color: #fff;
    font-size: 16px;
  }
  
  .login-box input[type="submit"] {
    border: none;
    outline: none;
    height: 40px;
    background: #b80f22;
    color: #fff;
    font-size: 18px;
    border-radius: 20px;
  }
  
  .login-box input[type="submit"]:hover {
    cursor: pointer;
    background: #38a546;
    color: #000;
  }
  
  .login-box a {
    text-decoration: none;
    font-size: 12px;
    line-height: 20px;
    color: darkgrey;
  }
  
  .login-box a:hover {
    color: #fff;
  }

  */