<div class="login-box">
    <img src="https://scontent.fcor2-1.fna.fbcdn.net/v/t39.30808-6/283538073_5328650660537778_1601908762467731494_n.jpg?_nc_cat=103&ccb=1-7&_nc_sid=0debeb&_nc_eui2=AeEyWApAmtpAy74o6URQeFmkdttppkSkeVV222mmRKR5VRLj6nXHo1zwCeXUfiPG3JcAUWPx_CHpazKHyk0lOm2G&_nc_ohc=9ptdDYiK0ycAX8SiW7_&_nc_ht=scontent.fcor2-1.fna&oh=00_AT87I6djnFXXBvMB06rUzjiMCPq0Y8gPODLbXJOWzTBEcQ&oe=629F84A6" class="avatar" alt="Avatar Image">
    
    <h1>Inicie sesión aquí</h1>
    <form>
        <!-- USERNAME INPUT -->
        <label for="username">Nombre de usuario</label>
        <input type="text" placeholder="Ingrece nombre de usuario">
        <!-- PASSWORD INPUT -->
        <label for="password">Contraseña</label>
        <input type="password" placeholder="Ingrece contraseña">
        <input type="submit" value="Iniciar sesión" (click)="funcionVolverHome()">
        <!--<a href="#">Perdió su contraseña?</a><br>
        <a href="#">No tienes una cuenta?</a> -->
    </form>
</div>
