div, body{
    background: rgb(226, 190, 190);
    
}

#comentario{
    text-align: justify;
}

img{
    height: 100px;
    width: 100px;
    border-radius: 50%;
    border: 1px solid blue;
    margin-top: -65px;    
}

.row{
    padding: 20px;
}

#nombre{
    font-size: 18px;
    font-weight: bold;
    margin-top: 20%;
}

#titulo{
    font-size: 12px;
    font-weight: bold;
    
}

.contenedortituloyboton{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.simbolo{
    height: 30px;
    width: 30px;
    margin-top: -25px;
    margin-left: -15px;
}

button{
    background: rgb(226, 190, 190);
    margin-left: 10px;
    align-items: center;
    height: 10px;
    width: 10px;
}

#eliminar{
    border: 1px solid red;
}

#editar, #editarfoto, #editarnombreytitulo{
    border: 1px solid green;
}

#editarfoto{
    margin-top: -25px;
    margin-left: -15px;
}

#botonfoto{
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 35px;
    align-items: center;
    height: 10px;
    width: 10px;
}

#editarnombreytitulo{
    margin-left: -15px;
}

#botonnombreytitulo{
    margin-left: 50px;
    margin-bottom: 10px;
    align-items: center;
    height: 10px;
    width: 10px;
}

@media (max-width: 450px){
    #fotoyboton{
        flex-direction: column;
        align-items: center;       
    }
}