<div *ngFor="let item of personaAcDe" class="row">
    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2" id="fotoyboton">
        <img src="{{item.imagenAcercaDe}}" class="img-fluid"><!--La imagen es responsive con ing-fluid-->
        <div>
            <button type="button" class="btn btn-success" id="botonfoto" (click)="funcionEditar(item.idAcercaDe)" title="Presione este botón para editar la sección" *ngIf="registrado"><img src="../../../assets/SimboloEditar.png" alt="" class="simbolo" id="editarfoto" *ngIf="registrado"></button>
        </div>
    </div>
    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
        <p id="nombre">{{item.nombreAcercaDe}} {{item.apellidoAcercaDe}}</p>
        <p id="titulo">{{item.tituloAcercaDe}}</p>
        <!--<div>
            <button type="button" class="btn btn-success" id="botonnombreytitulo"><img src="../../../assets/SimboloEditar.png" alt="" class="simbolo" id="editarnombreytitulo"></button>
        </div>-->
    </div>
    <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
        <span>
            <div class="contenedortituloyboton">
                <div class="titulo">
                    <h2>Acerca de</h2>
                </div>
                <!--<div class="boton">
                    <button type="button" class="btn btn-danger"><img src="../../../assets/SimboloBorrar.png" alt="" class="simbolo" id="eliminar"></button>

                    <button type="button" class="btn btn-success"><img src="../../../assets/SimboloEditar.png" alt="" class="simbolo" id="editar"></button>
                </div>-->
            </div>
            <p id="comentario">{{item.descripcionAcercaDe}}</p>
        </span>
        
    </div>
</div>