<div class="container">
    <form class="was-validated" [formGroup]="editarFormularioRedes" (ngSubmit)="envioDeFormularioRedes(editarFormularioRedes.value)">
        <br>
        <h1>Ingrese los datos requeridos de la nueva red</h1>
        <br>
        <div class="input-group">
            <span class="input-group-text">Nombre de la red</span>
            <input type="text" class="form-control" placeholder="Ingrese el nombre de la red" formControlName="nombreRed" required>
        </div>
        <br>
        <div class="input-group">
            <span class="input-group-text">Link a la red</span>
            <input type="text" class="form-control" placeholder="Ingrese el link a la red" formControlName="linkRed" required>          
        </div>
        <br>
        <div class="input-group">
            <span class="input-group-text">Imagen de la red</span>
            <input type="text" class="form-control" placeholder="Ingrese la dirección de la imagen" formControlName="imagenRed" required>          
        </div>
        <br>
        <div class="d-grid">
            <button type="submit" class="btn btn-primary btn-block">Presione este Botón para guardar los datos de la nueva red</button>
        </div>
        <br>        
        <div class="d-grid">
            <button type="button" class="btn btn-secondary btn-block" (click)="funcionVolverHome()">VOLVER. Presione este Botón para cancelar el envío o volver a la página principal</button>
        </div>
      </form>
  </div>
  
