div, body{
    background: rgb(226, 190, 190);
}

.row{
    padding: 20px;
}

.clase-contenedora{
    width: auto;    
}

p, h3, img{
    padding: 10px;
}

.texto, .imagen{
    display: inline-block;
    text-align: justify;
}

.img-cambios{
    box-shadow: 10px 10px 30px blue;
    border-radius: 20%;    
}

h2{
    text-align: center;
}

p:hover{
    background-color: rgb(160, 160, 202);
}

h3:hover{
    background-color: rgb(160, 160, 202);
}

img:hover{
    background-color: rgb(160, 160, 202);
}
